<ul class="topics nav nav-list nav-pills nav-stacked abn-tree">

    <li ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
        id="{{row.branch.uid}}"
        ng-animate="'abn-tree-animate'"
        ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')"
        class="abn-tree-row item">

        <div class="nav-item topic-nav-item" ng-click="user_clicks_branch(row.branch)">

            <a href="#" editable-text="row.label"
               e-form="btnEditRow" onbeforesave="on_branch_action('rename', row.branch, $data)"
               class="topic-name indented">

                <span class="toggle-subtopics">
                    <i ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="tree-icon"> </i>
                </span>

                <span class="tree-label">{{ row.label }}</span>

                <span class="badge pull-right" ng-hide="row.branch.data.quizzes.length == 0">
                    {{row.branch.data.quizzes.length}}
                </span>
            </a>
        </div>
    </li>
</ul>
