<div class="view-question"
    ng-class="{'fill-in': (question.type === 'FillInQuestion'),
               'multiple-choice': (question.type === 'MultipleChoiceQuestion')}">

    <!-- Question -->
    <div class="question ng-cloak" ng-bind-html="trusted(question.questionHtml)"></div>

    <!-- Submission Entry -->
    <div class="submission">

        <!-- Fill In -->
        <div ng-show="question.type === 'FillInQuestion'" class="fill-in">
            <input class="submission form-control" type="text" ng-model="question.submission"
                focus-on="switchedQuestion" ui-keypress="{ 'enter': 'handleEnter($event)' }"
                ng-readonly="question.submitted" />

            <button class="submit btn btn-success" type="button" ng-click="submit()"
                ng-disabled="!question.submission" ng-hide="question.submitted">
                Submit
            </button>
        </div>

        <!-- Multiple Choice -->
        <div ng-show="question.type === 'MultipleChoiceQuestion'" class="multiple-choice">
            <div class="choices">
                <button type="button" ng-repeat="(i, choice) in question.choices track by $index"
                    ng-model="question.submission" btn-radio="i" class="choice btn btn-default form-control"
                    ng-disabled="question.submitted"
                    ng-class="{selected: (question.submitted && (question.submission === i)),
                               correct: (question.submitted && (question.submission === i && question.result.isCorrect) || (question.result.correctAnswerIndex === i)),
                               incorrect: (question.submitted && (question.submission === i ? !question.result.isCorrect : (question.result.correctAnswerIndex !== i)))}">

                    <span ng-show="question.submitted" class="result-icon">
                        <span ng-show="(question.submission === i) && !question.result.isCorrect" class="glyphicon incorrect glyphicon-remove-sign"></span>
                        <span ng-show="(question.submission === i) && question.result.isCorrect" class="glyphicon correct glyphicon-ok"></span>
                        <span ng-show="(question.submission !== i) && question.result.correctAnswerIndex === i" class="glyphicon correct glyphicon-circle-arrow-right"></span>
                    </span>

                    {{choice}}
                </button>
            </div>

            <button class="submit btn btn-success" type="button" ng-click="submit()"
                ng-disabled="question.submission === null" ng-hide="question.submitted">
                Submit
            </button>
        </div>
    </div>

    <!-- Submission Result -->
    <div class="result-container ng-cloak" ng-show="question.submitted">
        <div ng-show="question.result" class="result alert"
             ng-class="{ 'correct': question.result.isCorrect,
                         'alert-success': question.result.isCorrect,
                         'incorrect': !question.result.isCorrect,
                         'alert-danger': !question.result.isCorrect,
                         'has-detail': (!question.result.isCorrect || question.result.supplementalInfoHtml),
                         'has-supplemental-info': question.result.supplementalInfoHtml }">

            <!-- Result header -->
            <div class="result-header"
                 ng-class="{ 'correct': question.result.isCorrect,
                             'incorrect': !question.result.isCorrect }">

                <!-- Correct header -->
                <span ng-show="question.result.isCorrect">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <strong>Correct!</strong>
                </span>

                <!-- Incorrect header -->
                <span ng-show="!question.result.isCorrect">
                    <strong class="result-header">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        Incorrect!
                    </strong>
                </span>
            </div>

            <!-- Detail container (correct answer, supplemental info, etc.) -->
            <div class="detail-container">

                <!-- Correct answer (shown when submission is not correct) -->
                <div class="correct-answer-container" ng-show="!question.result.isCorrect">
                    <span ng-show="question.type === 'FillInQuestion'">
                        The correct answer is:&nbsp;<strong class="correct-answer fill-in">{{question.result.correctAnswer}}</strong>
                        <span class="glyphicon glyphicon-info-sign alt-ans" ng-show="question.result.alternativeAnswers.length > 0"
                              tooltip-html-unsafe="{{getAlternativeAnswerTooltip()}}">
                        </span>
                    </span>

                    <span ng-show="question.type === 'MultipleChoiceQuestion'">
                        The correct answer is:&nbsp;<strong class="correct-answer multiple-choice">{{question.choices[question.result.correctAnswerIndex]}}</strong>
                    </span>
                </div>

                <!-- Supplemental Information -->
                <div class="supplemental-info" ng-show="question.result.supplementalInfoHtml"
                     ng-bind-html="trusted(question.result.supplementalInfoHtml)">
                </div>

            </div>

            <!-- Next button -->
            <div class="next-button-container">
                <button type="button" ng-click="next()" ng-show="showNext" class="next btn btn-primary">
                    {{ nextButtonText }}
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>

        </div>
    </div>

</div>
