.edit-question {
    .question {
        margin: 1em 0;

        .question-editor {
            background-color: white;
            border: 1px solid hsl(235, 60%, 85%);
            border-radius: 4px;
            padding: .6em 1em 0;
            min-height: 36px;
            overflow: auto;
        }
    }

    .answer input {
        @media(max-width:@screen-xs) { margin-top: 6px; }
        @media(min-width:@screen-xs) { width: 40%; }
        @media(min-width:@screen-xs) and (max-width:@screen-sm) { margin-left: 1em; }
    }
}
