/*
 * My Quizzes
 * ---------- */

.my-quizzes.container {
    width: 40em;
    margin: 2em auto;
}

.quizzes {
    max-width: 500px;
}

.quizzes .quiz-name {
    display: inline;
}

.quizzes .quiz-actions a {
    margin: 0 4px;

}
