@import "../vendor/flexbox.less/flexbox.less";

.view-question {

    .question {
        margin-bottom: 2em;
        max-width: @max-question-width;
        line-height: 1.6;
    }

    .submission {
        input {
            margin: 6px 6px 6px 0;

            @media(min-width:450px) {
                display: inline;
                width: 250px;
            }
        }

        input[readonly] { cursor: default; }

        .multiple-choice {
            .choices {
                margin-bottom: 1em;

                .choice {
                    margin-bottom: .5em;
                }
            }

            .choice.correct {
                border-color: #d6e9c6;
                color: #3c763d;
            }

            .choice.selected.correct {
                background-color: #dff0d8;
            }

            .choice.correct:not(.selected) {
                font-weight: bold;
                opacity: 1;
            }

            .choice.selected.incorrect {
                background-color: #f2dede;
                border-color: #ebccd1;
                color: #a94442;
            }
        }
    }

    .result {
        .flexbox();
        .flex-flow(row wrap);

        margin-top: 1em;
        padding: 10px 15px;

        .result-header .glyphicon { margin-right: 4px; }

        // If the submission is correct, the "Correct!" message and the Next button should
        // appear on the same line.
        .result-header.correct {
            .flex(@spec: 2013; @grow: 1; @shrink: 1; @basis: auto);
            .align-self(center);
        }

        // If the submission is incorrect, the "Incorrect!" message should be on a row by itself.
        .result-header.incorrect {
            .flex(@spec: 2013; @grow: 1; @shrink: 1; @basis: 100%);
            margin-top: 5px;    // A bit of extra spacing on top, since there's more content within
        }

        .correct-answer-container {
            .flex(@spec: 2013; @grow: 1; @shrink: 1; @basis: auto);
            .align-self(center);
            margin: .5em .8em .8em 0;
        }

        .next-button-container {
            .flex(@spec: 2013; @grow: 0; @shrink: 1; @basis: auto);
        }

        .glyphicon-info-sign {
            margin-left: 3px;
        }

        .alt-ans-tooltip {
            text-align: left;
        }
    }
}
