.view-question {

    .question {
        margin-bottom: 2em;
        max-width: @max-question-width;
        line-height: 1.6;
    }

    .submission {
        input {
            margin: 6px 6px 6px 0;

            @media(min-width:450px) {
                display: inline;
                width: 250px;
            }
        }

        input[readonly] { cursor: default; }

        .multiple-choice {
            .choices {
                margin-bottom: 1em;

                .choice {
                    margin-bottom: .5em;
                }
            }

            .choice.correct {
                border-color: #d6e9c6;
                color: #3c763d;
            }

            .choice.selected.correct {
                background-color: #dff0d8;
            }

            .choice.correct:not(.selected) {
                font-weight: bold;
                opacity: 1;
            }

            .choice.selected.incorrect {
                background-color: #f2dede;
                border-color: #ebccd1;
                color: #a94442;
            }
        }
    }

    .result-container {
        margin-top: 1em;
    }

    .result {
        .result-header {
            display: block;
            margin-bottom: 0.5em;

            .glyphicon { margin-right: 4px; }
        }

        .glyphicon-info-sign { margin-left: 3px; }

        .alt-ans-tooltip { text-align: left; }
    }
}