extends layout

block content
    .edit-quiz.container(ng-app="swot")

        form(ng-controller="EditQuizCtrl", name="editQuizForm", confirm-on-exit="There are unsaved changes to the quiz.")

            .header-container.form-group
                .row
                    label.control-label.col-xs-12(for="quiz-name") Quiz Name:
                .row
                    .quiz-name-container
                        input#quiz-name.form-control(type="text", name="name", ng-model="quiz.name", placeholder="Name", autofocus)
                    .quiz-actions
                        .messages
                            span#save-message.quiz-xhr-message.ng-cloak(ng-class="{error : !savedSuccessfully}", ng-show="!isSaving && saveStatus") {{saveStatus}}
                            span#load-message.quiz-xhr-message(ng-show="!finishedLoading") Loading...
                            #save-spinner.spinner(ng-show="isSaving || !finishedLoading")
                        button#save.action.save.btn.btn-success(type="button", ng-click="save()", ng-disabled="isSaving")
                            span.glyphicon.glyphicon-floppy-disk
                            | Save
                        .action.last.btn-group.ng-cloak(ng-hide="isNew()")
                            button#quiz-settings-button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                span.glyphicon.glyphicon-cog
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li: a(href="#", ng-click="exportJson()")
                                    i.glyphicon.glyphicon-menu.glyphicon-cloud-download
                                    | Export as JSON
                                li: a#delete-quiz(data-toggle="modal", href="#deleteDialog", ng-hide="isNew()")
                                    i.glyphicon.glyphicon-menu.glyphicon-remove
                                    | Delete
                // Alerts
                .row
                    .alerts.col-xs-12
                        if (message != '')
                            div.alert.alert-danger
                                p !{message}
                        alert.ng-cloak(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}

            label.control-label Questions:
            .question-list-container
                ul.sortable-list-container(ui-sortable="sortableOptions", ng-model="quiz.questions", ng-show="quiz.questions.length > 0")
                    li.question-container.sortable-list-item(ng-repeat="question in quiz.questions", ng-class="{'animate-list-item': finishedLoading}")
                        editquestion(question="question", form="editQuizForm", question-number="$index+1", allow-copy="true"
                            on-copy="copyQuestion($index)", allow-reorder="true", allow-delete="true", on-delete="removeQuestion($index)"
                            ck-editor-config="ckEditorConfig", answer-keypress="answerKeypress($event, question)")

                .no-questions.ng-cloak(ng-show="questions.length === 0") Nothing here yet! Click on "Add Question" below to start adding questions.

            button#add-question.btn.btn-success(type="button", ng-click="addQuestion()" focus-on="beginAddNewQuestion")
                span.glyphicon.glyphicon-plus
                | Add Question

            // Delete Quiz
            div#deleteDialog.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                            h4.modal-title Delete Quiz?
                        .modal-body Are you sure you want to delete the quiz?
                        .modal-footer
                            button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                            button#confirm-delete-quiz.btn.btn-primary.btn-danger(type="button", ng-click="deleteQuiz()", data-dismiss="modal") Delete

block scripts
    script.
        var _quizId = '!{quizId}';
    script(src="/vendor/ckeditor/ckeditor.js")
    script(src="/directives/ngCkEditor.js")
    script(src="/directives/autoGrowInput.js")
    script(src="/animations/listItem.js")
    script(src="/services/quiz.js")
    script(src="/controllers/editQuiz.js")
    script(src="/directives/editQuestion.js")
