extends layout

block content
    .edit-quiz.container(ng-app="swot")

        form(ng-controller="EditQuizCtrl", name="editQuizForm", confirm-on-exit="There are unsaved changes to the quiz.")

            if (message != '')
                div.alert.alert-danger
                    p !{message}
            alert.ng-cloak(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}

            .header-container.form-group
                label.control-label(for="quiz-name") Quiz Name:
                .row.controls
                    .col-xs-6: input#quiz-name.form-control(type="text", name="name", ng-model="quiz.name", placeholder="Name", autofocus)
                    .col-xs-6
                        .pull-right
                            span.save-message(class="{{savedSuccessfully ? '' : 'error'}}", ng-show="!isSaving && saveStatus") {{saveStatus}}
                            .spinner.ng-cloak(ng-show="isSaving")
                            button#save.save.btn.btn-success(type="button", ng-click="save()", ng-disabled="isSaving")
                                span.glyphicon.glyphicon-floppy-disk
                                | Save
                            .btn-group.ng-cloak(ng-hide="isNew()")
                                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                    span.glyphicon.glyphicon-cog
                                    span.caret
                                ul.dropdown-menu(role="menu")
                                    li: a(href="#", ng-click="exportJson()")
                                        i.glyphicon.glyphicon-menu.glyphicon-cloud-download
                                        | Export as JSON
                                    li: a(data-toggle="modal", href="#deleteDialog", ng-hide="isNew()")
                                        i.glyphicon.glyphicon-menu.glyphicon-remove
                                        | Delete
                .save-error.alert.alert-danger.alert-dismissable.ng-cloak(ng-show="!isSaving && !savedSuccessfully && saveMessage")
                    | {{saveMessage}}

            label.control-label Questions:
            .question-list-container
                ul.sortable-list-container(ui-sortable="sortableOptions", ng-model="quiz.questions", ng-show="quiz.questions.length > 0")
                    li.question-container.sortable-list-item(ng-repeat="question in quiz.questions", ng-class="{'animate-list-item': finishedLoading}")
                        .question-header.clearfix
                            span.question-number.ng-cloak {{$index + 1}}.
                            .question-header-buttons.pull-right
                                span.drag-handle.btn.btn-xs.btn-default
                                    span.glyphicon.glyphicon-move
                                button.delete-question.btn.btn-xs.btn-default(type="button", confirm-button="removeQuestion($index)"
                                    message="Are you sure you want to remove this question?", classes="confirm-popover", tabindex="-1")
                                    span.glyphicon.glyphicon-trash
                        .question-body.form-horizontal
                            .question.form-group
                                .question-editor(ckedit="{{ckEditorConfig}}", ng-model="question.questionHtml", focus-on="newQuestionReady")
                            .answer.form-group
                                label.control-label.col-xs-2 Answer:
                                .col-xs-10
                                    input.form-control(type="text", name="answer", ng-model="question.answer", placeholder="Answer", ng-keydown="answerKeypress($index, $event)", auto-grow, max-width="443")
                .no-questions.ng-cloak(ng-show="questions.length === 0") Nothing here yet! Click on "Add Question" below to start adding questions.

            button.btn.btn-success(type="button", ng-click="addQuestion()", tooltip-trigger="mouseenter", tooltip-placement="bottom", tooltip="{{addQuestionTooltip()}}", focus-on="beginAddNewQuestion")
                span.glyphicon.glyphicon-plus
                | Add Question

            // Delete Quiz
            div#deleteDialog.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                            h4.modal-title Delete Quiz?
                        .modal-body Are you sure you want to delete the quiz?
                        .modal-footer
                            button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                            button.btn.btn-primary.btn-danger(type="button", ng-click="deleteQuiz()", data-dismiss="modal") Delete

block scripts
    script.
        var _quizId = '!{quizId}';
    script(src="/vendor/ckeditor/ckeditor.js")
    script(src="/app/common/confirmButton.js")
    script(src="/app/common/ngCkEditor.js")
    script(src="/app/common/autoGrowInput.js")
    script(src="/app/common/animations.js")
    script(src="/app/quiz/quiz.js")
    script(src="/app/quiz/edit.js")
