doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/vendor/bootstrap-css/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        block head

    body

        #wrap
            include menu

            #main.container
                block content

        #footer

        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/jquery/jquery.min.js")
        script(src="/vendor/jquery-ui/ui/jquery-ui.js")
        script(src="/vendor/bootstrap-javascript/bootstrap.min.js")
        script(src="/vendor/angular/angular.js")
        script(src="/vendor/angular-animate/angular-animate.min.js")
        script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/vendor/angular-ui-utils/ui-utils.js")
        script(src="/vendor/bootbox/bootbox.js")
        script(src="/vendor/angular-ui-sortable/src/sortable.js")
        script(src="/app/common/focus.js")
        script(src="/app/main.js")

        block scripts
