doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        block head

    body
        include menu

        .container
            block content

        script(src="/javascripts/vendor/jquery/jquery.min.js")
        script(src="/javascripts/vendor/bootstrap-javascript/bootstrap.min.js")
        script(src="/javascripts/vendor/angular/angular.js")
        script(src="/javascripts/vendor/angular-animate/angular-animate.min.js")
        script(src="/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/javascripts/vendor/bootbox/bootbox.js")
        script(src="/javascripts/common/focus.js")

        block scripts
