nav#nav.navbar.navbar-inverse(role="navigation")
    .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/") swot

    .nav.navbar-text.nav-center
        h2#title= title

    #navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
            if email
                li: a(href="/quizzes") My Quizzes
        ul.nav.navbar-nav.navbar-right
            if email
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") #{email}
                        b.caret
                    ul.dropdown-menu
                        li: a(href="/logout") Log out
            else
                li: a(href="/login") Login
                li: a(href="/register") Register
