nav(role="navigation").navbar.navbar-fixed-top.navbar-inverse
    .navbar-header
        button(type="button", data-toggle="collapse", data-target="#navbar-collapse-1").navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a(href="/").navbar-brand swot

    .collapse.navbar-collapse#navbar-collapse-1
        ul.nav.navbar-nav
            if username
                li: a(href="/quizzes") My Quizzes
        .nav.navbar-text.nav-center
            h2= title
        ul.nav.navbar-nav.navbar-right
            if username
                li.dropdown
                    a(href="#", data-toggle="dropdown").dropdown-toggle #{username}
                        b.caret
                    ul.dropdown-menu
                        li: a(href="/logout") Log out
            else
                li: a(href="/login") Login
                li: a(href="/register") Register
