extends layout

block content
    .quiz(ng-app="ViewQuiz", ng-controller="ViewQuizCtrl")
        h2= title
        
        if (message != '')
            div.alert.alert-danger
                p !{message}
        alert.ng-cloak(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}

        .header.ng-cloak
            a.prev(href="#", ng-click="prev()", ng-show="currentQuestionIndex > 0")
                span.glyphicon.glyphicon-circle-arrow-left
                | Previous
            span.current Question {{currentQuestionIndex+1}} of {{questions.length}}
            a.next(href="#", ng-click="next()", ng-show="currentQuestionIndex < questions.length - 1")
                | Next
                span.glyphicon.glyphicon-circle-arrow-right

        .question-container

            .question.ng-cloak
                {{currentQuestion().question}}

            .submission
                input.form-control(type="text", ng-model="currentQuestion().submission", focus-on="switchedQuestion"
                    ui-keypress="{ 'enter': 'handleEnter($event)' }", ng-readonly="currentQuestion().submitted")
                button.submit.btn.btn-success(type="button", ng-click="submit()", ng-disabled="!currentQuestion().submission", ng-hide="currentQuestion().submitted") Submit
                button.next.btn.btn-primary.ng-cloak(type="button", ng-click="next()", ng-show="currentQuestion().submitted")
                    | Next
                    span.glyphicon.glyphicon-circle-arrow-right
                .result-container.ng-cloak
                    .result.alert.alert-success(ng-show="currentQuestion().isCorrect")
                        span.glyphicon.glyphicon-ok-sign
                        strong Correct!
                    .result.alert.alert-danger(ng-show="currentQuestion().submitted && !currentQuestion().isCorrect")
                        strong.incorrect
                            span.glyphicon.glyphicon-remove-sign
                            | Incorrect!
                        | The correct answer is:&nbsp;
                        strong {{currentQuestion().correctAnswer}}

        #quiz-sidebar(ng-if="questions.length > 0")
            .list-group(ng-model="questions")
                a.list-group-item(href="#", ng-repeat="question in questions", ng-click="jumpToQuestion($index)", ng-class="{active: ($index === currentQuestionIndex)}")
                    span.question.ellipsis {{$index+1}}. {{question.question}}
                    span.status.ng-cloak
                        span.glyphicon.correct.glyphicon-ok-sign(ng-if="question.submitted && question.isCorrect")
                        span.glyphicon.incorrect.glyphicon-remove-sign(ng-if="question.submitted && !question.isCorrect")
                .list-group-item.progress-container(tooltip-html-unsafe="{{getScoreTooltip()}}", tooltip-placement="bottom")
                    progress
                        bar(type="success", value="numCorrect()/questions.length*100")
                        bar(type="danger", value="numIncorrect()/questions.length*100")


block scripts
    script.
        var _quizId = '!{quizId}';
    script(src="/vendor/jquery-ui/ui/jquery-ui.js")
    script(src="/app/quiz/view.js")
