@model IEnumerable<swot.Domain.Entities.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>

@foreach (var q in Model) {
    <div class="question">
        <b>@q.QuestionText</b><br/>
        Answer: @q.Answer
    </div>
}
