@model IEnumerable<swot.Domain.Entities.Quiz>

@{
    ViewBag.Title = "Home Page";
}

<h1>My Quizzes</h1>

<ul>
@foreach (var quiz in Model)
{
  <li>@Html.ActionLink(quiz.Name, "Index", "Quiz", new { id = quiz.QuizID }, null) (@quiz.Questions.Count() questions)</li>
}
</ul>